* {
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: red;
}

a:hover {
  cursor: pointer;
}

.heading {
  font-weight: bold;
}

.nav-links {
  color: red;
  list-style-type: none;
  padding-left: 0;
}

.nav-links li {
  flex: auto;
}

/* Cards */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
}

.project-card {
  background-color: ;
}

.project-card img {
  max-width: 100%;
}

.tags {
  font-size: 0.75rem;
  display: flex;
  padding-left: 0;
}

.tags li {
  margin-right: 0.75rem;
  background-color: blue;
  padding: 0.25rem 1rem;
  border-radius: 35%;
  color: white;
  list-style-type: none;
}
