* {
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  margin-bottom: 0.5rem;
}

a:hover {
  cursor: pointer;
}

.heading {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0;
}

.nav Link {
  flex: auto;
}

/* On-page nav */
.nav-links {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
  border-top: #e8e8e8 1px solid;
}

.nav-links {
  flex: auto;
  flex-wrap: wrap;
}

.nav-links li {
  flex: auto;
}

.filter-button {
  text-decoration: none;
  color: black;
}

.filter-button-active {
  font-weight: bold;
}

.filter-button:hover {
  font-weight: bold;
}

/* Cards */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.project-card {
  border: #e8e8e8 solid 1px;
  box-shadow: 0px 0px 10px #e8e8e8;
  padding: 1rem;
}

.project-card img {
  max-width: 100%;
}

.tags {
  font-size: 0.75rem;
  display: flex;
  padding-left: 0;
}

.tags li {
  margin-right: 0.75rem;
  background-color: lightgray;
  padding: 0.25rem 1rem;
  color: black;
  list-style-type: none;
}

/* Other */
.development-note {
  padding: 1rem 2rem;
  background-color: lightgray;
  max-width: 600px;
}

.button {
  text-decoration: none;
  padding: 0.75rem 2rem;
  background-color: #aed49b;
  border-radius: 0.2rem;
  color: black;
  border: none;
  box-shadow: 0px 0px 10px #e8e8e8;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: #89ac78;
}

.text-link {
  color: black;
}

.text-link:hover {
  font-weight: bold;
}
