* {
  box-sizing: border-box;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
}

a:hover {
  cursor: pointer;
}

.heading {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 2rem 0;
}

.nav Link {
  flex: auto;
}

/* On-page nav */
.nav-links {
  list-style-type: none;
  padding-left: 0;
  max-width: 75%;
}

.nav-links {
  flex: auto;
  flex-wrap: wrap;
}

.nav-links li {
  flex: auto;
}

/* Cards */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.project-card {
  background-color: ;
}

.project-card img {
  max-width: 100%;
}

.tags {
  font-size: 0.75rem;
  display: flex;
  padding-left: 0;
}

.tags li {
  margin-right: 0.75rem;
  background-color: lightgray;
  padding: 0.25rem 1rem;
  color: black;
  list-style-type: none;
}

/* Other */
.development-note {
  padding: 1rem 2rem;
  background-color: lightgray;
  max-width: 600px;
}
